THRESHOLD = 80

LIMIT = 5

# MANIFEST = {
#     "view": {"url":"https://mcid.mcah.columbia.edu/archaeological-site/{{id}}"},
#     "name": "MCID Archaeological Sites"
# }

MANIFEST = {
    "view": {"url":"https://mcid.mcah.columbia.edu/archaeological-site/{{id}}"},
    "name": "MCID Archaeological Sites",
    "preview": {
    "height": 300,
    "url": "https://mcid.mcah.columbia.edu/reconcile-preview?field_id_value={{id}}",
    "width": 400}
}

DATABASE = 'arch-sites.db'